---
page:
  upperlinks:
  - name: "Login"
    href: "#login"

  - name: "Help"
    href: "#help"

  - name: "610-550-8798"

  navlinks:
  - name: "Products"
    href: "#products"

  - name: "Solutions"
    href: "#solutions"

  - name: "Company"
    href: "#company"

  - name: "Resources"
    href: "#resources"

  heroCarousel:
  - title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
    body:  "Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
    init:  true
    pause: 10000

  - title: "{{ lipsum 6 14 }}"
    body:  "{{ lipsum 14 37 }}"

  - title: "{{ lipsum 9 92 }}"
    body:  "{{ lipsum 11 105 }}"

  brandsCarousel:
  - logo: "showtime"
    body: "Ut dignissim tellus vel nisi bibendum, in hendrerit quam rutrum. Fusce sollicitudin pulvinar libero, at scelerisque elit mattis sit amet."
    init: true

  - logo: "showtime"
    body:  "{{ lipsum 14 54 }}"

  - logo: "showtime"
    body:  "{{ lipsum 11 82 }}"

  actions:
  - name: Connect
    img:  connect
    desc: 'Sunt in culpa qui officia deserunt mollit anim id est laborum'

  - name: Optimize
    img:  optimize
    desc: 'Sunt in culpa qui officia deserunt mollit anim id est laborum'

  - name: Personalize
    img:  personalize
    desc: 'Sunt in culpa qui officia deserunt mollit anim id est laborum'

  socials:
  - name: Facebook
    url:  https://facebook.com
    icon: facebook

  - name: Twitter
    url:  https://twitter.com
    icon: twitter

  - name: LinkedIn
    url:  https://linkedin.com
    icon: linkedin
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OMG :: {{ lipsum 1 }}. {{ lipsum 1 2 }}. {{ lipsum 1 4 }}.</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk">
  <link rel="stylesheet" href="assets/fonts/roboto/font.css">
  <link rel="stylesheet" href="assets/css/landing.css">
  <link rel="stylesheet" href="assets/css/landing-lg.css">
</head>
<body>
  <!--<div id="overlay"></div>-->
  <!--
    UPPER LINKS NAV - A low key place to put links and details that are relevant on every page.
  -->
  <nav class="nav-upperlinks navbar navbar-expand-md navbar-light">
    <div class="container collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {{ range $ul := $.page.upperlinks }}
        <li class="nav-item">
          {{ if $ul.href }}
          <a class="nav-link" href="{{ $ul.href }}">{{ $ul.name }}</a>
          {{ else }}
          <span class="navbar-text">{{ $ul.name }}</span>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
  </nav>

  <!--
    PRIMARY NAV - Primary site navigation
  -->
  <nav class="nav-links navbar navbar-expand-md navbar-light">
    <div class="container collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {{ range $navlink := $.page.navlinks }}
        <li class="nav-item">
          <a class="nav-link" href="{{ $navlink.href }}">{{ $navlink.name }}</a>
        </li>
        {{ end }}
        <li class="nav-item nav-demo">
          <span class="navbar-text">
            <button class="btn btn-walkthrough">Request a Demo</button>
          </span>
        </li>
      </ul>
    </div>
  </nav>

  <!--
    HERO BANNER - Featured items carousel
  -->
  <article class="content">
    <div class="bubbles"></div>
    <section class="hero container-fluid">
      <div class="row">
        <div class="hero-image d-none d-xl-block"></div>
        <div class="carousel slide" data-ride="carousel" id="heroCarousel">
          <div class="carousel-inner">
            {{ range $ci := $.page.heroCarousel }}
            <div
              class="carousel-item{{ if $ci.init }} active{{ end }}"
              data-interval="{{ or $ci.pause `5000` }}"
              data-pause="hover"
              data-wrap="true"
              data-touch="true"
            >
              <div class="d-block w-100">
                <h1>{{ $ci.title }}</h1>
                <h2>{{ $ci.body }}</h2>
              </div>
            </div>
            {{ end }}
          </div>

          <ol class="carousel-indicators">
            {{ range $i, $ci := $.page.heroCarousel }}
            <li data-target="#heroCarousel" data-slide-to="{{ $i }}" class="{{ if $ci.init }}active{{ end }}"></li>
            {{ end }}
          </ol>
        </div>
      </div>

      <div class="intro row">
        <h3>Sed risus pretium quam vitae tortor<br> condimentum lacinia quis duis at tellus at</h3>
        <h4>Duis aute irure dolor in reprehenderit in voluptate velit esse<br>cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat<br>non in reprehenderit in voluptate velit esse</h4>
      </div>
    </section>

    <!-- ACTIONS SECTION -->
    <section class="actions" class="container-fluid">
      {{ range $action := $.page.actions }}
      <div class="action">
        <img src="assets/img/action-{{ $action.img }}.png">
        <h3>{{ $action.name }}</h3>
        <p>{{ $action.desc }}</p>
      </div>
      {{ end }}
    </section>

    <!-- LOGOS -->
    <section class="brands" class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h3>Trusted by the world's<br>most successful brands</h3>
          <h4>Commodo nulla facilisi nullam vehicula ipsum a.<br>Amet volutpat consequat mauris nunc congue<br>nisi. Ipsum dolor sit amet consectetur.</h4>
        </div>

        <div
          id="brandsCarousel"
          class="col-6 carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            {{ range $ci := $.page.brandsCarousel }}
            <div
              class="carousel-item{{ if $ci.init }} active{{ end }}"
              data-wrap="true"
              data-touch="true"
            >
              <div class="brands-carousel-item d-block w-100">
                <img src="assets/img/logo-{{ $ci.logo }}.png">
                <p>{{ $ci.body }}</p>
              </div>
            </div>
            {{ end }}
          </div>

          <ol class="carousel-indicators">
            <li data-target="#brandsCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#brandsCarousel" data-slide-to="1"></li>
            <li data-target="#brandsCarousel" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>

    <!-- CALL TO ACTION -->
    <section class="demo" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h4>Ready for a personal walkthrough?</h4>
          <button class="btn btn-walkthrough">Request a Demo</button>
        </div>
      </div>
    </section>
  </article>

  <!-- FOOTER LINKS, SOCIAL, AND COPYRIGHTS -->
  <footer>
    <div class="social-links">
      {{ range $social := $.page.socials }}
      <a href="{{ $social.url }}" title="{{ $social.title }}"><img src="assets/img/social-{{ $social.icon }}.png"></a>
      {{ end }}
    </div>

    <p>&copy;{{ now `2006` }} {{ lipsum 2 }}. All Rights Reserved.</p>

    <div class="row links">
      <div class="col-4">
        <a href="#link1">About Us</a>
        <a href="#link2">Leadership</a>
      </div>

      <div class="col-4">
        <a href="#link3">Investor Relations</a>
        <a href="#link4">Careers</a>
      </div>

      <div class="col-4">
        <a href="#link5">Terms of Use</a>
        <a href="#link6">Privacy Policy</a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="assets/js/jquery-3.5.1.min.js" crossorigin="anonymous" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"></script>
  <script type="text/javascript" src="assets/js/bootstrap.bundle.min.js" crossorigin="anonymous" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"></script>
</body>
</html>