body {
  padding:          0;
  margin:           0;
  background-color: #CEE8E6;
  font-family:      'Roboto', sans-serif;
}

.content {
  width:  1100px;
  margin: 0 auto;
}

#overlay {
  background: transparent top center no-repeat url("../img/overlay.png");
  position:   absolute;
  top:        0;
  bottom:     0;
  left:       0;
  right:      0;
  z-index:    10000;
  opacity:    1.0;
}

#overlay:hover {
  opacity:    0.1;
}

.nav-upperlinks {
  background-color: red;
  height: 29px;
}

.nav-links {
  background-color: blue;
  height: 65px;
}

.hero {
  display:         flex;
  justify-content: stretch;
}

.hero .hero-image {
  flex:        1;
  margin-left: 78px;
  margin-top:  29px;
  height:      626px;
  object-fit:  contain;
}

.hero .carousel {
  flex:         4;
  text-align:   left;
  padding-left: 66px;
}

.hero .carousel h1 {
  margin-top:     2.8em;
  margin-bottom:  0;
  font-size:      50px;
  font-weight:    bold;
}

section {
  background-color: orangered;
  text-align:       center;
}

section.intro {
  margin-top: 2.5em;
  padding:    0 10vw;
}

section.intro h2 {
  font-size: 28pt;
}

section.actions {
  display:         flex;
  margin:          4em 0;
  justify-content: center;
}

section.actions > .action {
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  align-items:      center;
  background-color: #FFFFFF;
  border-radius:    1vw;
  padding:          2vw;
  margin:           0 14px;
  width:            305px;
  height:           360px;
}

section.actions > .action img {
  width:         112px;
  height:        112px;
  object-fit:    contain;
  margin-bottom: 1vh;
}

section.brands :first-child {
  text-align: left;
}

section.brands .brands-carousel-item {
  display:         flex !important;
  flex-direction:  row;
  justify-content: stretch;
  align-items:     stretch;
}

section.brands .brands-carousel-item > img {
  flex:    1;
  display: block;
  object-fit: contain;
}

section.brands .brands-carousel-item > p {
  flex:       4;
  display:    block;
  text-align: left;
  margin:     0 2em;
}

footer {
  text-align:     center;
  display:        flex;
  flex-direction: column;
  align-items:    center;
}

footer .links {
  width: 100%;
}

footer .links div > a {
  display: block;
}